.footer {
	background-color: var(--variant-one);
	padding: 2rem 1rem;

	&__content {
		max-width: 1250px;
		margin: 0 auto;
		&__links {
			&__container {
				justify-content: space-between;
				align-items: center;

				@media (max-width: 768px) {
					flex-direction: column-reverse;
				}
				& .col-md-5 {
					padding: 1rem 0;

					&:hover {
						text-decoration: none;
					}
					& a {
						font-size: 51px;
						color: var(--variant-three);
						text-decoration: none;

						font-weight: 900;
						margin: 0 auto 0.75rem;
						cursor: pointer;
						@include heading-three-queries;

						@media (max-width: 768px) {
							display: block;
							text-align: center;
						}

						& span {
							& img {
								margin: 0 1rem;
							}
						}

						@media (max-width: 768px) {
							font-size: 29px;
						}
					}

					& ul {
						list-style-type: none;
						padding: 0;
						@media (max-width: 768px) {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-between;
							align-items: center;
							margin: 0 auto;
						}
						& li {
							text-align: right;

							& a {
								font-size: 22px;
								text-decoration: none;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}

					& h3 {
						@include heading-three-queries;
						font-weight: 900;
						@media (max-width: 768px) {
							text-align: center;
						}
					}

					& form {
						padding: 0;
						margin: 0;
						width: auto;
						& input {
							@include text-input;
							margin: 0 0 1rem;

							@media (max-width: 768px) {
								margin: 0 auto 1rem;
							}
						}

						& textarea {
							@include textarea-input;

							margin: 0.5rem 0 0;
							height: 100%;
							min-height: 100px;

							@media (max-width: 768px) {
								margin: 0 auto 1rem;
							}
						}

						& button,
						& .btn {
							@include primary-btn;
							margin: 1rem auto 0;
							width: 70%;
						}
					}
				}
			}
		}

		&__statement {
			margin: 0 auto;
			text-align: center;
			background-color: var(--variant-three);
			border-radius: 15px;
			padding: 2.5rem 0.5rem;

			& h3 {
				color: var(--variant-one);
				text-transform: uppercase;
				font-size: 88px;
				font-weight: 900;
				letter-spacing: 1rem;
				line-height: 5rem;
				margin: 0 auto;
				padding: 0.65rem 0;

				@media (max-width: 1216px) {
					letter-spacing: 0.4rem;
				}

				@media (max-width: 992px) {
					font-size: 92px;
					letter-spacing: 0.3rem;

					padding: 0;
				}
				@media (max-width: 768px) {
					font-size: 70px;
					letter-spacing: 0.3rem;

					padding: 0;
				}
				@media (max-width: 575.5px) {
					font-size: 48px;
					letter-spacing: 0.2rem;
					font-weight: 700;
					padding: 0;
				}
			}
		}
	}
}
