.header {
	padding: 1.8rem 2.6rem;
	max-width: 1250px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: 575.5px) {
		padding: 0.5rem 1.5rem;
	}

	&__content {
		justify-content: space-between;

		@media (max-width: 575.5px) {
			justify-content: center;
		}
		&__logo {
			padding: 0;
			@media (max-width: 575.5px) {
				text-align: center;
				margin: 0 auto;
			}

			& h2 {
				font-size: 34px;
				text-transform: uppercase;
				padding: 0;

				@media (max-width: 575.5px) {
					font-size: 20px;
				}
			}
		}
		&__nav {
			& nav {
				& ul {
					list-style-type: none;
					padding: 0;
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-around;
					align-items: center;

					& li {
						& a {
							border: 1px solid var(--variant-three);
							border-radius: 25px;
							padding: 0.6rem 1.6rem;
							color: var(--variant-three);
							font-weight: 500;
						}
					}
				}
			}

			@media (max-width: 575.5px) {
				display: none;
			}
		}
	}
}
