.project-gallery {
	background-color: var(--variant-one);
	padding: 2rem 4rem;
	max-width: 1250px;

	@media (max-width: 768px) {
		padding: 1rem 3rem;
	}
	@media (max-width: 575.5px) {
		padding: 1rem 2rem;
	}

	&__grid,
	&.row {
		display: grid;
		gap: 1rem;
		max-width: 1250px;
		margin: 0 auto;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 200px;

		// @media (max-width: 992px) {
		// 	grid-template-columns: repeat(2, 1fr);
		// }
		@media (max-width: 1175px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 575.5px) {
			grid-template-columns: repeat(1, 1fr);
		}

		& .item.col {
			height: 100%;
			width: 100%;
			text-align: center;
			padding: 0.5rem;

			& img {
				width: 100%;
				height: 100%;

				object-fit: cover;
				object-position: center;
				-o-object-fit: cover;
				-o-object-position: center;

				border-radius: 10px;
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			}
		}

		& .item-tall.col {
			grid-row: span 3;
		}
		& .item-med.col {
			grid-row: span 2;
		}
		& .item-short.col {
			grid-row: span 1;
		}
	}
}
