.thank-you-msg {
	display: block;
	background-color: var(--variant-two-light-med);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	text-align: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	padding: 0 4rem;

	&.show {
		animation: 0.3s ease-in 0.1s 1 normal forwards show-slider;
		// animation-fill-mode: forwards;

		opacity: 0;
	}

	&.hidden {
		display: none;

		animation: 0.3s ease-in 0.1s 1 normal forwards close-slider;
	}

	@keyframes show-slider {
		5% {
			display: block;
			visibility: visible;
			z-index: 11;
		}
		100% {
			opacity: 1;
			display: block;
			visibility: visible;
			z-index: 11;
		}
	}
	@keyframes close-slider {
		99% {
			opacity: 0;
			visibility: hidden;
		}
		100% {
			opacity: 0;
			display: none;
			visibility: hidden;
			z-index: 0;
		}
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		& h1 {
			text-transform: uppercase;
			font-size: 7.5rem;
			font-weight: 900;
			letter-spacing: 2rem;
			line-height: 4rem;
			margin: 0 auto;
			padding: 0.65rem 0;

			@media (max-width: 1216px) {
				letter-spacing: 0.4rem;
			}

			@media (max-width: 992px) {
				font-size: 5.75rem;
				letter-spacing: 0.3rem;

				padding: 0;
			}
			@media (max-width: 768px) {
				font-size: 4.375rem;
				letter-spacing: 0.3rem;

				padding: 0;
			}
			@media (max-width: 575.5px) {
				font-size: 3rem;
				letter-spacing: 0.2rem;
				font-weight: 700;
				padding: 0;
			}
		}
		h3 {
			font-size: 2.5rem;
			margin-top: 1.5rem;
			font-weight: 700;
			letter-spacing: 2px;

			@media (max-width: 1216px) {
				letter-spacing: 1.5px;
			}

			@media (max-width: 992px) {
				font-size: 2.25rem;
			}
			@media (max-width: 768px) {
				font-size: 1.375rem;
				font-weight: 600;
			}
			@media (max-width: 575.5px) {
				font-size: 1rem;
			}
		}
		& h1,
		& h3 {
			color: var(--variant-one);
		}
	}
}
